@font-face
{
    font-family: Cabin;
    src: url("cabin-regular.otf") format("opentype");
}

@font-face
{
    font-family: PTSans;
    src: url("PTC55F.ttf") format("truetype");
}

body {
  font-family: 'Georgia', 'Verdana', serif;
}

div.content {
    padding: 1% 15% 1% 15%;
}

HR {
  height:          1px; 
  border-style:    dotted; 
  border-width:    1px 0 0 0;
  border-color:    #000000;
}

/*---- Text elements --------------------------*/
P {
  font-family: 'Georgia', 'Verdana', serif;
}

div.nb {
    min-height: 53px;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: lightgray;
    border: 1px solid black;
}
div.nb p {
    vertical-align: middle;
    margin-left: 1em;
    margin-right: 1em;
}


P.caption {
  font-style:    italic;
  margin-left:    25px;
  margin-bottom:  30px;
  text-align:     left;  
}

P.indent {
  margin-left:    20px;
  margin-right:   50px;
}

H1, H2, H3, H4 {
	font-family: PTSans, serif;
}


/*---- Links --------------------------*/

A {
  font-family:        'Lucida Grande', 'Verdana', 'Arial', Helvetica, sans-serif;
}

A:link, A:visited, A:active {
	color:              #104E8B;
	text-decoration:    underline;
}

A:hover {
	background:         #104E8B;
	color:              #FFFFFF;
	text-decoration:    underline;
}

A.figure:link, A.figure:visited, A.figure:active, A.figure:hover {
	color:              #FFFFFF;
	text-decoration:    none;
}

A.tree {
	font-family:      'Andale Mono', 'Lucida Console', monospace;
}


/*---- Special text --------------------------*/
TT {
	font-family: 'Andale Mono', 'Lucida Console', monospace;
    font-size : 11px;
	white-space: nowrap;

}

TT.inlinexml {
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-color: #0066FF;
	background-color: #E8F4FF;
}

TT.id {
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-color: #00A000;
	background-color: #E0FFE0;
}

TT.directory, TT.filename {
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-color: #FF6600;
	background-color: #FFF4E8;
}

TT.code, TT.program {
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	border-color: #FF6666;
	background-color: #FFC5C5;
}

TT.A {
  font-family:        'Lucida Grande', 'Verdana', 'Arial', Helvetica,
  font-size :         12px;
  white-space:        pre;
}


/*---- Tables --------------------------*/

TABLE.xml {
	margin-left: 10px;
}

TD.xml {
	font-family:      'Andale Mono', 'Lucida Console', monospace;
  font-size:        12px;
	border-top:       solid;
	border-bottom:    solid;
	border-width:     1px;
	padding-top:      1px;
	padding-bottom:   1px;
	padding-left:     10px;
	padding-right:    10px;
	border-color:     #0066FF;
	background-color: #E8F4FF;
  line-height :     14px;
}

TD.desc {
	font-family:      'Lucida Grande', 'Verdana', 'Arial', Helvetica, sans-serif;
  font-size :       12px;
	border-width:     1px;
	padding-top:      1px;
	padding-bottom:   5px;
	padding-left:     10px;
	padding-right:    20px;
  vertical-align:   top;
  line-height :     15px;
}

TD.ref {
	font-family:      'Lucida Grande', 'Verdana', 'Arial', Helvetica, sans-serif;
  font-size :       12px;
	border-width:     1px;
	padding-top:      1px;
	padding-bottom:   2px;
	padding-left:     10px;
	padding-right:    5px;
  vertical-align:   top;
  line-height :     15px;
}

TD.stats-value {
	font-family:      'Lucida Grande', 'Verdana', 'Arial', Helvetica, sans-serif;
  font-size:        12px;
  border-spacing:   0px;
	border-width:     1px;
	border-left:      1px solid #000000;
	padding:          2px;
  padding-left:     5px;
  padding-right:    5px;
  vertical-align:   top;
  text-align:       center;
  line-height :     18px;
  margin:           0px;
}

TD.stats-text {
	font-family:      'Lucida Grande', 'Verdana', 'Arial', Helvetica, sans-serif;
  font-size :       12px;
  border-spacing:   0px;
	border-width:     1px;
	padding:          2px;
  padding-left:     5px;
  padding-right:    15px;
  vertical-align:   top;
  line-height :     18px;
  margin:           0px;
}

TD.stats-line {
	border-top:       1px solid #000000;
	border-left:      1px solid #000000;
  border-spacing:   0px;
  font-size:        2px;
  padding:          0px;
  margin:           0px;
}

TABLE.stats {
 	border:           solid;
  border-spacing:   0px;
	border-width:     1px;
  padding-left:     0px;
  margin:           5px;
  margin-left:      25px;
}
